<div class="home-page-wrapper">

    <div class="intro-container">
        <div class="into-header">
            <h1 style="text-transform: uppercase;">hi, i am yahor poresh.</h1>
            <h5>A Wrocław based front-end developer passionate about building accessible and user friendly websites.</h5>
            
            <div class="intro-nav">
                <button appFillBtn btnSize="small" btnColor="primary">Contact</button>
                <button appIconBtn btnSize="small" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
                <button appIconBtn btnSize="small" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            </div>
        </div>

        <div class="into-img">
            <img src="../../../assets/images/YP.jpg">
        </div>
    </div>
    
    <!-- project pages -->
    
    <div class="self-container">
        <div class="self-header">
            <h1>About me</h1>
        </div>
        <div class="self-desc">
            <h3>I am a front-end developer based in Wrocław. Has Control Engineering & Robotics background. </h3>
            <h5>I am a front-end developer based in Wrocław looking for exciting opportunities.Has Control Engineering & Robotics background. Likes to focus on accessibility when developing. Passionate and curious about solving problems. Currently, Im exploring Angular, Webflow and a bit of Designing. While I am not programming, I enjoy playing football, photography and playing Valorant. Learning more to improve skill.</h5>
            <h5>More about me</h5>
        </div>
    </div>
</div>