<header>
    <h2 style="padding-left: 2rem;">Yahor Poresh</h2>
    <ng-container *ngIf="deviceType.breakpoint >= breakpoints.LARGE">
        <div class="nav-container">
            <div appToggBtn (click)="toggleTheme()" [(toggled)]="isDarkTheme"><!-- This div will act as a toggle button --></div>
            <button appFlatBtn btnSize="small" btnColor="primary">Show</button>
            <button appFlatBtn btnSize="small" btnColor="primary">About Me</button>
            <button appFlatBtn btnSize="small" btnColor="primary">Contact</button>
        </div> 
    </ng-container>
</header>
