@use '../../../../style/styles.scss' as theme;

@mixin mobile-footer-layout {
    @media (max-width: map-get(theme.$breakpoints, 'MEDIUM')) {
        height: auto !important;

        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center !important;

        gap: 4rem !important;
    
        padding: 4rem 0rem 4rem 0rem !important;

        .social-container {
            width: 100% !important;
            max-width: 60rem !important;

            gap: 2rem !important;

            .additional-container {

            }
            .social-navigation {

            }
    
            .social-navigation {
                align-self: center;
            }
    
            h1 {
                font-size: 1.5rem; // Smaller font size for headers
                line-height: normal;
            }

            
        }

        .contact-container {  
            width: 100% !important;
            max-width: 60rem !important;

            align-self: center !important;
            flex-grow: none !important;

            .mat-mdc-form-field {
                width: 100% !important;
            }

            h5 {
                width: 100% !important;
            }
        }
    }
}

footer {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    //padding: 4rem 0rem 4rem 0rem;

    @include mobile-footer-layout;

    .social-container {

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;
        
        gap: 4rem;

        .additional-container {

            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            gap: 0.5rem
        }

        .social-navigation {

            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            gap: 1.5rem

        }

        h1 {
            line-height: 5.5rem;
            text-transform: uppercase;
        }

    }

    .contact-container {   
        flex-grow: 3;
        align-self: center;
        
        #contact-form {
            
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            h5 {
                width: 80%;
            }
            
            .mat-mdc-form-field {
                width: 80%;

                padding-bottom: 1rem;
            }
        }

    }

}

