<footer>
    <div class="social-container">
        <h1>let's connect</h1>

        <div class="additional-container">
            <h5>Say hello at st.yahor.poresh&#64;gmail.com</h5>
            <h5>For more info, here is my resume</h5>
        </div>

        <div class="social-navigation">
            <button appIconBtn btnSize="medium" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="medium" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="medium" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="medium" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
        </div>
    </div>
    <div class="contact-container">
        <h2>Hello</h2>
    </div>
</footer>
