
<div class="page-wrapper">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="false">
      <app-side-nav (toggleEvent)="toggleSidenav()"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content style="overflow: auto; margin-left: 0 !important;">
        <app-header (sidenavToggle)="toggleSidenav()"></app-header>
        <div class="app-container">
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>