<div class="side-nav-container">
    <div class="nav-header">
      <h2>Yahor Poresh</h2>
      <button appIconBtn class="nav-header-btn" btnSize="small" btnColor="primary" (click)="onSidenavToggle()"><i class="fa-regular fa-compass"></i></button>
    </div>

    <div class="nav-container">
      <button appFillBtn btnSize="small" btnColor="primary" (click)="navigate(showPageTrx)">Show</button>
      <button appFillBtn btnSize="small" btnColor="primary" (click)="navigate('/')">Home</button>
  </div> 
</div>