@use '@angular/material' as mat;

@include mat.core();

// Example function to generate CSS variables from a palette
@mixin generate-color-variables($palette, $palette-name) {
  @each $key, $color in $palette {
    @if (type-of($color) != 'map') {
      // Generate variable for each color in the palette
      --#{$palette-name}-#{$key}: #{$color};
    } @else {
      // This is for nested maps like contrast colors
      @each $contrast-key, $contrast-color in $color {
        --#{$palette-name}-contrast-#{$contrast-key}: #{$contrast-color};
      }
    }
  }
}

$dark-accent-palette: (
  50: #FAFAFA,
  100: #F5F5F5,
  200: #EEEEEE,
  300: #E0E0E0,
  400: #BDBDBD,
  500: #9E9E9E,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #FAFAFA,
  A200: #FAFAFA,
  A400: #FAFAFA,
  A700: #FAFAFA,
  contrast: (
    50: #000000,
    100: #000000,
    200: #212121,
    300: #212121,
    400: #212121,
    500: #EEEEEE,
    600: #EEEEEE,
    700: #EEEEEE,
    800: #F5F5F5,
    900: #FAFAFA,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$dark-primary-palette: (
  50: #E6F2A6,
  100: #E0F09C,
  200: #DAEE92,
  300: #D4EC88,
  400: #CEE97E,
  500: #D3E97A,  // Main shade
  600: #C8E670,
  700: #C2E366,
  800: #BCDF5C,
  900: #B6DB52,
  A100: #D3E97A,
  A200: #D3E97A,
  A400: #D3E97A,
  A700: #D3E97A,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$dark-warn-palette: (
  50: #FFEBEE,
  100: #FFCDD2,
  200: #EF9A9A,
  300: #E57373,
  400: #EF5350,
  500: #F44336,
  600: #E53935,
  700: #D32F2F,
  800: #C62828,
  900: #B71C1C,
  A100: #FF8A80,
  A200: #FF5252,
  A400: #FF1744,
  A700: #D50000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$light-accent-palette: (
  50: #212121,
  100: #424242,
  200: #616161,
  300: #757575,
  400: #9E9E9E,
  500: #BDBDBD,
  600: #E0E0E0,
  700: #EEEEEE,
  800: #F5F5F5,
  900: #FAFAFA,
  A100: #212121,
  A200: #212121,
  A400: #212121,
  A700: #212121,
  contrast: (
    50: #FAFAFA,
    100: #F5F5F5,
    200: #EEEEEE,
    300: #EEEEEE,
    400: #EEEEEE,
    500: #212121,
    600: #212121,
    700: #212121,
    800: #000000,
    900: #212121,
    A100: #212121,
    A200: #212121,
    A400: #212121,
    A700: #212121,
  )
);

$light-primary-palette: (
  50: #E6F2A6,
  100: #E0F09C,
  200: #DAEE92,
  300: #D4EC88,
  400: #CEE97E,
  500: #D3E97A,  // Main shade
  600: #C8E670,
  700: #C2E366,
  800: #BCDF5C,
  900: #B6DB52,
  A100: #D3E97A,
  A200: #D3E97A,
  A400: #D3E97A,
  A700: #D3E97A,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$light-warn-palette: (
  50: #FFEBEE,
  100: #FFCDD2,
  200: #EF9A9A,
  300: #E57373,
  400: #EF5350,
  500: #F44336,
  600: #E53935,
  700: #D32F2F,
  800: #C62828,
  900: #B71C1C,
  A100: #FF8A80,
  A200: #FF5252,
  A400: #FF1744,
  A700: #D50000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

// Define color palettes by using def colors
// $light-primary: mat.define-palette(mat.$indigo-palette);
// $light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $light-warn: mat.define-palette(mat.$red-palette);
// $light-primary-background: mat.define-palette(mat.$grey-palette, 100, 200, 900);

// $dark-primary: mat.define-palette(mat.$blue-grey-palette);
// $dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
// $dark-warn: mat.define-palette(mat.$deep-orange-palette);
// $dark-primary-background: mat.define-palette(mat.$grey-palette, 100, 800, 900);
// $dark-accent-background: mat.define-palette($black-2);

// Theme definitions
$light-theme: mat.define-light-theme((
  color: (
    // primary: $light-primary,
    // accent: $light-accent,
    // warn: $light-warn,
    // primary-background: $light-primary-background,

    primary: $light-primary-palette,
    accent: $light-accent-palette,
    warn: $light-warn-palette,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary-palette,
    accent: $dark-accent-palette,
    warn: $dark-warn-palette,
  )
));

:root, .light-theme {
  @include generate-color-variables($light-accent-palette, 'accent');
  @include generate-color-variables($light-primary-palette, 'primary');
  @include generate-color-variables($light-warn-palette, 'warn');

  //@include mat.all-component-themes($light-theme);
}

.dark-theme {
  // --primary-color: #{mat.get-color-from-palette($dark-primary, 500)};
  // --primary-contrast: #{mat.get-color-from-palette($dark-primary, 'contrast')};
  // --accent-color: #{mat.get-color-from-palette($dark-accent, A200)};
  // --accent-contrast: #{mat.get-color-from-palette($dark-accent, 'contrast')};
  // --warn-color: #{mat.get-color-from-palette($dark-warn, 500)};
  // --warn-contrast: #{mat.get-color-from-palette($dark-warn, 'contrast')};

  @include generate-color-variables($dark-accent-palette, 'accent');
  @include generate-color-variables($dark-primary-palette, 'primary');
  @include generate-color-variables($dark-warn-palette, 'warn');

  //@include mat.all-component-themes($dark-theme);
}

// Define breakpoints
$breakpoints: (
  "large": 64rem,  // 1024px
  "medium": 48rem, // 768px
  "small": 30rem   // 480px
);


html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  background-color: var(--accent-900);
  transition: background-color 0.5s, color 0.5s;
  
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

* {
  transition: background-color 0.5s, color 0.5s;
}

// Font styles
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;

  color: var(--accent-contrast-900);
}

// Mixin to apply responsive typography
@mixin responsive-typography($base-size, $large, $medium, $small) {
  font-size: $base-size;

  @media (max-width: map-get($breakpoints, 'large')) {
    font-size: $large;
  }
  @media (max-width: map-get($breakpoints, 'medium')) {
    font-size: $medium;
  }
  @media (max-width: map-get($breakpoints, 'small')) {
    font-size: $small;
  }
}

// Applying mixin to elements
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700; 

  @include responsive-typography(4rem, 3.5rem, 3rem, 2.5rem);
}
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600; 

  @include responsive-typography(3rem, 2.75rem, 2.5rem, 2rem);
}
h3 {
  font-family: "Ubuntu", sans-serif; 
  font-weight: 600; 

  @include responsive-typography(2rem, 1.75rem, 1.5rem, 1.5rem);
}
h4 {  //  title for def text
  font-family: "Ubuntu", sans-serif; 
  font-weight: 550;

  @include responsive-typography(1.5rem, 1.25rem, 1.25rem, 1.25rem);
}
h5 {  //  Buttons 
  font-family: "Ubuntu", sans-serif; 
  font-weight: 500;

  @include responsive-typography(1.25rem, 1.25rem, 1rem, 1rem);
}
p {   //  def text
  font-family: "Ubuntu", sans-serif; 
  font-weight: 450;

  @include responsive-typography(1rem, 1rem, 0.875rem, 0.875rem);
}

/* ----------------------------------------------------- */

// Flat Button Styles
[appFlatBtn] {
  display: inline-block;

  padding: 0.5rem 1rem;

  font-family: "Ubuntu", sans-serif;
  font-size: 1rem; // Default font size
  text-align: center;
  font-weight: 500;
  color: var(--accent-contrast-900);

  border: none;
  border-radius: 1.25rem;
  transition: background-color 0.5s, color 0.5s;

  cursor: pointer;

  &:active {
    transform: scale(0.95); // Slightly shrink the button when clicked
  }

  // Sizes
  &.small {
    width: 8rem;
    height: 3rem;

    font-size: 1rem;
  }

  &.medium {
    width: 10rem;
    height: 4rem;

    font-size: 1.25rem;
  }

  &.large {
    width: 13rem;
    height: 5.25rem;

    font-size: 1.5rem;
  }

  // Colors
  &.primary {
    background-color: transparent;
    color: var(--accent-contrast-900);

    &:hover {
      background-color: var(--primary-500);
      color: var(--primary-contrast-500);
    }

    &:active {
      background-color: var(--primary-400); 
      border: 5px solid var(--primary-100);
    }

  }

  &.accent {
    background-color: transparent;
    color: var(--accent-contrast-900);

    &:hover {
      background-color: var(--accent-500);
      color: var(--accent-contrast-500);
    }

    &:active {
      background-color: var(--accent-400); 
      border: 5px solid var(--accent-100);
    }

  }

  &.warn {
    background-color: transparent;
    color: var(--accent-contrast-900);

    &:hover {
      background-color: var(--warn-500);
      color: var(--warn-contrast-500);
    }

    &:active {
      background-color: var(--warn-400);
      border: 5px solid var(--warn-100); 
    }
    
  }

  // Responsive text transformation
  @media (max-width: 768px) {
    text-transform: uppercase;
  }
}

/* ----------------------------------------------------- */

// Fill Button Styles
[appFillBtn] {
  display: inline-block;

  padding: 0.5rem 1rem;

  font-family: "Ubuntu", sans-serif;
  font-size: 1rem; // Default font size
  text-align: center;
  font-weight: 500;
  color: var(--accent-contrast-900);

  border: none;
  border-radius: 1.25rem;
  transition: background-color 0.5s, color 0.5s;

  cursor: pointer;

  &:active {
    transform: scale(0.95); // Slightly shrink the button when clicked
  }

  // Sizes
  &.small {
    width: 8rem;
    height: 3rem;

    font-size: 1rem;
  }

  &.medium {
    width: 10rem;
    height: 4rem;

    font-size: 1.25rem;
  }

  &.large {
    width: 13rem;
    height: 5.25rem;

    font-size: 1.5rem;
  }

  // Colors
  &.primary {
    background-color: var(--primary-500);
    color: var(--primary-contrast-500);

    &:hover {
      background-color: var(--primary-400);
      color: var(--primary-contrast-400);
    }

    &:active {
      background-color: var(--primary-300); 
      border: 5px solid var(--primary-100);
    }

  }

  &.accent {
    background-color: var(--accent-500);
    color: var(--accent-contrast-500);

    &:hover {
      background-color: var(--accent-400);
      color: var(--accent-contrast-400);
    }

    &:active {
      background-color: var(--accent-300); 
      border: 5px solid var(--accent-100); 
    }

  }

  &.warn {
    background-color: var(--warn-500);;
    color: var(--warn-contrast-500);

    &:hover {
      background-color: var(--warn-400);
      color: var(--warn-contrast-400);
    }

    &:active {
      background-color: var(--warn-300);
      border: 5px solid var(--warn-100); 
    }
    
  }

  // Responsive text transformation
  @media (max-width: 768px) {
    text-transform: uppercase;
  }
}

/* ----------------------------------------------------- */

// Icon Button Styles
[appIconBtn] {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 0.5rem;

  font-family: "Ubuntu", sans-serif;
  font-size: 1rem; // Default font size
  text-align: center;
  font-weight: 500;
  color: var(--accent-contrast-900);

  border: none;
  border-radius: 50%;
  transition: background-color 0.5s, color 0.5s;

  cursor: pointer;

  &:active {
    transform: scale(0.95); // Slightly shrink the button when clicked
  }

  // Sizes
  &.small {
    width: 3rem;
    height: 3rem;

    mat-icon {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
    }

  }

  &.medium {
    width: 4rem;
    height: 4rem;

    mat-icon {
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }
  }

  &.large {
    width: 5rem;
    height: 5rem;

    mat-icon {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 2.5rem;
    }

  }

  // Colors
  &.primary {
    background-color: var(--primary-500);
    color: var(--primary-contrast-500);

    mat-icon {
      color: var(--primary-contrast-500);
    }

    &:hover {
      background-color: var(--primary-400);
      color: var(--primary-contrast-400);

      mat-icon {
        color: var(--primary-contrast-400);
      }

    }

    &:active {
      background-color: var(--primary-300); 
      border: 5px solid var(--primary-100);

      mat-icon {
        color: var(--primary-contrast-100);
      }

    }

  }

  &.accent {
    background-color: var(--accent-500);
    color: var(--accent-contrast-500);

    mat-icon {
      color: var(--accent-contrast-500);
    }

    &:hover {
      background-color: var(--accent-400);
      color: var(--accent-contrast-400);

      mat-icon {
        color: var(--accent-contrast-400);
      }

    }

    &:active {
      background-color: var(--accent-300); 
      border: 5px solid var(--accent-100); 

      mat-icon {
        color: var(--accent-contrast-100);
      }

    }

  }

  &.warn {
    background-color: var(--warn-500);
    color: var(--warn-contrast-500);

    mat-icon {
      color: var(--warn-contrast-500);
    }

    &:hover {
      background-color: var(--warn-400);
      color: var(--warn-contrast-400);

      mat-icon {
        color: var(--warn-contrast-400);
      }

    }

    &:active {
      background-color: var(--warn-300);
      border: 5px solid var(--warn-100); 

      mat-icon {
        color: var(--warn-contrast-100);
      }

    }
    
  }

  // Responsive text transformation
  @media (max-width: 768px) {
    text-transform: uppercase;
  }
}

/* ----------------------------------------------------- */