<div class="show-page-wrapper">
    <div style="padding: 2rem; display: flex; flex-direction: column; flex-wrap: nowrap; gap: 1rem; justify-content: flex-start; align-items: center;">
        <h1>Hello! My name is Yahor Poresh!</h1>
        <h2>Hello! My name is Yahor Poresh!</h2>
        <h3>Hello! My name is Yahor Poresh!</h3>
        <h4>Hello! My name is Yahor Poresh!</h4>
        <h5>Hello! My name is Yahor Poresh!</h5>
        <p>Hello! My name is Yahor Poresh!</p>
    </div>

    <div style="background-color: var(--accent-600); border-radius: 1.5rem; padding: 2rem; display: flex; flex-wrap: nowrap; flex-direction: column; justify-content: flex-start; align-items: center; gap: 1rem;">
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appFlatBtn btnSize="medium" btnColor="primary">Primary Medium</button>
            <button appFlatBtn btnSize="large" btnColor="primary">Primary Large</button>
            <button appFlatBtn btnSize="small" btnColor="primary">Primary Small</button>
        </div>

        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appFlatBtn btnSize="medium" btnColor="accent">Accent Medium</button>
            <button appFlatBtn btnSize="large" btnColor="accent">Accent Large</button>
            <button appFlatBtn btnSize="small" btnColor="accent">Accent Small</button>
        </div>

        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appFlatBtn btnSize="medium" btnColor="warn">Warn Medium</button>
            <button appFlatBtn btnSize="large" btnColor="warn">Warn Large</button>
            <button appFlatBtn btnSize="small" btnColor="warn">Warn Small</button>
        </div>
    </div>

    <div style="padding: 2rem; display: flex; flex-wrap: nowrap; flex-direction: column; justify-content: flex-start; align-items: center; gap: 1rem;">
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appFillBtn btnSize="medium" btnColor="primary">Primary Medium</button>
            <button appFillBtn btnSize="large" btnColor="primary">Primary Large</button>
            <button appFillBtn btnSize="small" btnColor="primary">Primary Small</button>
        </div>

        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appFillBtn btnSize="medium" btnColor="accent">Accent Medium</button>
            <button appFillBtn btnSize="large" btnColor="accent">Accent Large</button>
            <button appFillBtn btnSize="small" btnColor="accent">Accent Small</button>
        </div>

        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appFillBtn btnSize="medium" btnColor="warn">Warn Medium</button>
            <button appFillBtn btnSize="large" btnColor="warn">Warn Large</button>
            <button appFillBtn btnSize="small" btnColor="warn">Warn Small</button>
        </div>
    </div>

    <div style="padding: 2rem; display: flex; flex-wrap: nowrap; flex-direction: column; justify-content: flex-start; align-items: center; gap: 1rem;">
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appIconBtn btnSize="medium" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="large" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="small" btnColor="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
        </div>

        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appIconBtn btnSize="medium" btnColor="accent"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="large" btnColor="accent"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="small" btnColor="accent"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
        </div>

        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items: center; gap: 1rem;">
            <button appIconBtn btnSize="medium" btnColor="warn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="large" btnColor="warn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
            <button appIconBtn btnSize="small" btnColor="warn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
        </div>
    </div>
</div>